<h1>Appointment Show Page</h1>

<%= link_to @appointment.doctor_name, doctor_path(@appointment.doctor) %>
<%= link_to @appointment.patient_name, patient_path(@appointment.patient) %>
<%= @appointment.app_date%>